dist/Circle_Nom.exe
__pycache__/game_funcs.cpython-312.pyc
build/Circle_Nom/Analysis-00.toc
build/Circle_Nom/base_library.zip
build/Circle_Nom/Circle_Nom.pkg
build/Circle_Nom/EXE-00.toc
build/Circle_Nom/PKG-00.toc
build/Circle_Nom/PYZ-00.pyz
build/Circle_Nom/localpycs/struct.pyc
build/Circle_Nom/localpycs/pyimod04_pywin32.pyc
build/Circle_Nom/localpycs/pyimod03_ctypes.pyc
build/Circle_Nom/localpycs/pyimod02_importers.pyc
build/Circle_Nom/localpycs/pyimod01_archive.pyc
build/Circle_Nom/xref-Circle_Nom.html
build/Circle_Nom/warn-Circle_Nom.txt
build/Circle_Nom/PYZ-00.toc
